.patch-artist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .admin-select-artists {
    align-self: center;
    padding: 10px;
    border-radius: 10px;
  }

  .form-patch-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .inp {
      padding: 10px;
      border-radius: 5px;
    }
    .input-patch-artist {
    }
    .btn-submit {
      font-size: 1.8rem;
      padding: 10px;
    }
  }
}
