.add-album {
  width: 100%;
  .form-add-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .inp {
      padding: 10px;
      border-radius: 5px;
    }
    .input-add-album {
    }
    .btn-submit {
      font-size: 1.8rem;
      padding: 10px;
    }
    .admin-select-album {
      align-self: center;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
