@import "../components/buttonGoBack/buttonGoBack.scss";

.albums {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  .albums-cards {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
