@import "../components/Track/trackCard.scss";

.artist-album-tracks {
  .artist-album-tracks-all {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;

    .artist-album-tracks-cards {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      .artist-album-tracks-cards-card {
        .artist-album-tracks-cards-card-desc {
          align-self: flex-end;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.faded {
  .artist-album-tracks-all {
    opacity: 30%;
    pointer-events: none;
    .artist-album-tracks-all-button-go-back {
      opacity: 0;
    }
    .artist-album-tracks-cards {
      cursor: default;
      .artist-album-tracks-cards-card {
      }
    }
  }
}
