.artists {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;

  .cards {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
