@import "../components/Track/trackCard.scss";

.tracks {
  .tracks-all {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    .tracks-cards {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      .tracks-cards-card {
        .tracks-cards-card-desc {
          align-self: flex-end;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.faded:nth-child(n + 2) {
  .tracks-all {
    opacity: 30%;
    .tracks-cards {
      cursor: default;
      .tracks-cards-card {
        pointer-events: none;
      }
    }
  }
}
